{% extends "layout.html" %}
  
  {% block body %}
  <form method="POST" action="{{ url_for('auth_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.username.label }}
	</td>
	<td>
	  {{ form.username }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.password.label }}
	</td>
	<td>
	  {{ form.password }}
	</td>
      </tr>
      <tr>
	<td colspan="1">
	  <input type="submit" value="Aseta"/>
	</td>
      </tr>
  </form>
  {% endblock %}
